body{
    margin: 0px;
    padding: 0px;
}
.geoLocationContainer{
    width: 100vw;
    height: 100vh;
    border: 2px solid #ececec;
    background-image: url("../skillsBG.jpg");
}

.geoLocationTable{
    width: 50%;
}
.geoAction button {
    border-radius: 40px;
    border: 2px solid #c5c1c1;
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}
.geoAction button:hover{
    background: #6C205F;
    color: #fff;
}